

body {
    font-family: ocr-a-std, monospace;
    font-weight: 400;
    font-style: normal;
    background-image: url('/fire3.jpg');
    
  }

.channel-container {
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
    flex-wrap: wrap;
}

.block-container {
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
}


.card-body-channel{
    display: flex;
    margin: 10px;
    text-align: center;
    border-color: black;
    border-width:2px;
    border-style:solid;
    box-shadow: 10px 5px black;
    /* border-radius: 8px; */
    background-color: white;
    flex-basis: auto;
    min-width: 28vh;
    min-height: 30vh;
    font-size: 25px;
    background-color: white;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    flex-direction: column;
    flex-wrap: wrap;
}

.card-title {
    text-align: center;
    display: flex;
}

.card-text {
    text-align: center;
    display: flex;
}
.card-body-block{
    display: flex;
    margin: 10px;
    border-width:2px;
    border-style: solid;
    background-color: white;
    flex-basis: auto;
    min-width: 28vh;
    min-height: 30vh;
    font-size: 15px;
    opacity: 0.6;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 20px;
    padding-left: 20px;
}

.home{
    color: black;
    font-weight: bolder;

}
.create-channel{
    color: black;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.create-block{
    color: black;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.welcome-text{
    margin: 10px;
    padding-left: 10px;
}

.block-form{
    margin-left: auto;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    color: black;
}

.edit-block-form{
    margin-left: auto;
    padding-left: 30px;
    padding-bottom: 30px;
    color: black;
}

.channel-form{
    margin-left: auto;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.button{
    flex-direction: row;
}

/* .navbar.navbar-expand-lg.navbar-light.bg.light{
/* font-size: 40px; */
/*  */
/* 
.navbar a.navbar-brand{
    font-weight: bold;
} */